---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import RequestInviteSection from "@/components/RequestInviteSection.astro";
import FeaturesSection from "@/components/FeaturesSection.astro";
import ArticlesSection from "@/ArticlesSection.astro";
---

<Layout title="Welcome to Astro.">
  <Header />
  <main>
    <RequestInviteSection />
    <FeaturesSection />
    <ArticlesSection />
  </main>
</Layout>
