---
import Logo from "./icons/Logo.astro";
---

<footer class="px-40 py-10">
  <div>
    <Logo class="text-white" />

    <div></div>
  </div>
  <div></div>
  <div></div>
</footer>
<style>
  footer {
    background-color: hsl(233, 26%, 24%);
  }
</style>
