---
import Logo from "@/components/icons/Logo.astro";
import Button from "@/components/buttons/ButtonPrimary.astro";
import ButtonMobineNav from "@/components/buttons/ButtonMobileNav.tsx";
import MobileNav from "./MobileNav";

const data = ["Home", "About", "Contact", "Blog", "Careers"];
---

<header class="w-full relative z-50">
  <nav class="w-full h-full flex items-center justify-around">
    <Logo />
    <ul class="hidden lg:flex items-center gap-x-4 h-full">
      {
        data.map((item) => (
          <li class="h-full text-base">
            <a
              class="h-full flex items-center link-header transition delay-500 ease-in-out "
              href={`#${item}`}
            >
              {item}
            </a>
          </li>
        ))
      }
    </ul>
    <Button class="hidden lg:block" label="Request Invite" />
    <ButtonMobineNav client:load />
  </nav>
  <MobileNav client:load data={data} />
</header>
<style>
  header {
    height: 80px;
    background-color: hsl(0, 0%, 100%);
  }
  .link-header {
    color: hsl(233, 8%, 62%);
    border-bottom: 4px transparent solid;
  }
  .link-header:hover {
    border-image: linear-gradient(
        to left top,
        hsl(192, 70%, 51%),
        hsl(136, 65%, 51%)
      )
      0 0 5 0;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 4px;
    border-style: solid;
  }
</style>
