---
import ButtonPrimary from '@/components/Buttons/ButtonPrimary.astro'
---

<section
  class='relative flex flex-col lg:flex-row lg:h-[750px] reques-section overflow-hidden'
>
  <article
    class='relative w-full lg:w-1/2 flex items-center order-1 lg:order-0 justify-center z-20'
  >
    <div class='lg:w-1/2 max-md:text-center flex flex-col gap-y-5'>
      <h1 class='text-4xl text-balance'>Next generation digital banking</h1>

      <blockquote class='text-pretty'>
        Take your financial life online. Your Easybank account will be a
        one-stop-shop for spending, saving, budgeting, investing, and much more.
      </blockquote>

      <div class='w-full'>
        <ButtonPrimary label='Request Invite' />
      </div>
    </div>
  </article>

  <div class='relative h-[330px] w-full lg:w-1/2 px-10 order-0 lg:order-1'>
    <img
      class='absolute max-md:left-0 lg:-right-32 -top-32 z-40'
      src='./images/image-mockups.webp'
      alt='easybank app'
    />
  </div>

  <div
    role='img'
    class="w-full lg:w-1/2 h-full absolute
    bg-no-repeat bg-cover
    bg-[url('./images/bg-intro-mobile.svg')]
    lg:bg-[url('./images/bg-intro-desktop.svg')]
    -top-36
    lg:right-0 lg:-top-36"
  >
  </div>
</section>
<style>
  .reques-section {
    background-color: hsl(220, 16%, 96%);
  }
</style>
